<suite name="Suite1" verbose="1" >
  <test name="RegressionTest">
    <classes>
      <class name="com.workable.movierama.MovieElementsTest"/>
      <class name="com.workable.movierama.MovieSearchTest"/>
      <class name="com.workable.movierama.MovieRamaTest"/>
      <class name="com.workable.movierama.PageNavigationTest"/>
    </classes>
  </test>
</suite>
